@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 21px;
	font-weight: 300;
	color: #666;
	height: auto;
	width: 100%;
	overflow: hidden;
}



.img-responsive {
	display: block;
	max-width: 100%;
	height: auto
}

a {
	transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
}

a:hover {
	color: #444;
}

a,
a:hover {
	text-decoration: none;
}
.fancybox-close-small {
    background: #f8f9fa !important;
	color: #000 !important;
	right: 0 !important;
		}
		.fancybox-image, .fancybox-spaceball{
			padding: 0px !important;
        }
        
        nav
        {
            position: absolute !important;
            width: 100% !important;
            top: 0 !important;
            z-index: 998 !important;
        }

        .nav-bg
        {
            background-color: #2b6280;
            background-color: rgb(245, 245, 245, 0.2);
        }

        .navbar-light .navbar-nav .nav-link {
            color: #fff !important;
            font-weight: bold !important;
            background-color: #8e3581 !important;
            border-radius: 4px !important;
            margin-left:8px !important;
        }

/*______________________page-1_______________*/


.link-btn-prev {
    width: 30px !important;
    height: 45px;
    position: absolute;
    left: 10px;
    top: 350px;
}

.link-btn-next {
    width: 30px !important;
    height: 45px;
    position: absolute;
    left: 980px;
    top: 350px;
}
/* Background */
.oncology-pg1{
background: url(../img/oncology/page1/bg.png) no-repeat;
background-size: cover;
height: 768px;
width: 1024px;
overflow: hidden !important;
}
.akynzeo-bg1{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/akynzeo/page1/bg1.png);
    background-size: cover;
    overflow: hidden !important;  
}
.akynzeo-bg2{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/akynzeo/akynzeo/page1/bg.png);
    background-size: cover;
    overflow: hidden !important; 
}
.akynzeo-bg3{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/akynzeo/akynzeo/page2/bg.gif);
    background-size: cover;
    overflow: hidden !important;  
}
.akynzeo-bg4{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/akynzeo/akynzeo/page3/bg.gif);
    background-size: cover;
    overflow: hidden !important;  
}
.akynzeo-bg5{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/akynzeo/akynzeo/page4/bg.gif);
    background-size: cover;
    overflow: hidden !important;  
}
.akynzeo-bg6{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/akynzeo/akynzeo/page5/bg.png);
    background-size: cover;
    overflow: hidden !important;  
}
.akynzeo-bg7{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/akynzeo/akynzeo/page6/bg.png);
    background-size: cover;
    overflow: hidden !important;  
}

.akynzeo-bg8{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/akynzeo/akynzeo/page7/bg.png);
    background-size: cover;
    overflow: hidden !important;  
}
.akynzeo-bg9{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/akynzeo/akynzeo/page8/bg.png);
    background-size: cover;
    overflow: hidden !important;  
}
.akynzeo-bg10{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/akynzeo/akynzeo/page9/bg.png);
    background-size: cover;
    overflow: hidden !important;  
}
.akynzeo-bg11{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/akynzeo/akynzeo/page10/bg.png);
    background-size: cover;
    overflow: hidden !important;  
}
.akynzeo-bg12{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/akynzeo/akynzeo/page11/bg.png);
    background-size: cover;
    overflow: hidden !important;  
}
.azactiv-pg1{
    background: url(../img/oncology/azactiv/page1/bg.png)  no-repeat;
background-size: cover;
height: 768px;
width: 1024px;
overflow: hidden !important;
}
.azactiv-pg2{
    background: url(../img/oncology/azactiv/page2/bg.png)  no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.azactiv-pg3{
    background: url(../img/oncology/azactiv/page3/bg.png)  no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.deczuba-pg1{
    background: url(../img/oncology/deczuba/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.deczuba-pg2{
    background: url(../img/oncology/deczuba/page2/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.deczuba-pg3{
    background: url(../img/oncology/deczuba/page3/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.bortrac-pg1{
    background: url(../img/oncology/bortrac/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.pomacel-pg1{
    background: url(../img/oncology/pomacel/bg1.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.pomacel-pg2{
    background: url(../img/oncology/pomacel/bg2.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.pomacel-pg3{
    background: url(../img/oncology/pomacel/bg3.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.glenza-pg1{
    background: url(../img/oncology/glenza/page1/img.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.glenza-pg2{
    background: url(../img/oncology/glenza/page2/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.glenza-pg4{
    background: url(../img/oncology/glenza/page4/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.glenza-pg5{
    background: url(../img/oncology/glenza/page5/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.glenza-pg6{
    background: url(../img/oncology/glenza/page6/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.glerelin-pg1{
    background: url(../img/oncology/glerelin/page1/bg.png)  no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.glerelin-pg2{
    background: url(../img/oncology/glerelin/page2/bg.png)  no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.glerelin-pg3{
    background: url(../img/oncology/glerelin/page3/bg.png)  no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.glerelin-pg4{
    background: url(../img/oncology/glerelin/page4/bg.png)  no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.abirapro-pg1{
    background: url(../img/oncology/abirapro/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.abirapro-pg2{
    background: url(../img/oncology/abirapro/page2/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.abirapro-pg3{
    background: url(../img/oncology/abirapro/page3/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.abirapro-pg4{
    background: url(../img/oncology/abirapro/page4/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.procabazi-pg1{
    background: url(../img/oncology/procabazi/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.procabazi-pg2{
    background: url(../img/oncology/procabazi/page2/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.deghor-pg1{
    background: url(../img/oncology/deghor/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.deghor-pg2{
    background: url(../img/oncology/deghor/page2/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.deghor-pg3{
    background: url(../img/oncology/deghor/page3/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.deghor-pg4{
    background: url(../img/oncology/deghor/page4/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.deghor-pg5{
    background: url(../img/oncology/deghor/page5/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.mitinab-pg1{
    background: url(../img/oncology/mitinab/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.mitinab-pg2{
    background: url(../img/oncology/mitinab/page2/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.bosuvi-pg1{
    background: url(../img/oncology/bosuvi/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.bosuvi-pg2{
    background: url(../img/oncology/bosuvi/page2/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.trumab-pg1{
    background: url(../img/oncology/trumab/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.trumab-pg2{
    background: url(../img/oncology/trumab/page2/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.fulviglen-pg1{
    background: url(../img/oncology/fulviglen/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}   
.fulviglen-pg2{
    background: url(../img/oncology/fulviglen/page2/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.fulviglen-pg3 {
    background: url(../img/oncology/fulviglen/page3/bg.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.fulviglen-pg4 {
    background: url(../img/oncology/fulviglen/page4/bg.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.fulviglen-pg5{
    background: url(../img/oncology/fulviglen/page5/bg.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.fulviglen-pg6{
    background: url(../img/oncology/fulviglen/page6/bg.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.lapahope-pg1{
    background: url(../img/oncology/lapahope/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.lapahope-pg2{
    background: url(../img/oncology/lapahope/page2/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.bevicra-pg1{
    background: url(../img/oncology/bevicra/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.bevicra-pg2{
    background: url(../img/oncology/bevicra/page2/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.bevicra-pg3 {
    background: url(../img/oncology/bevicra/page3/bg.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.bevicra-pg4 {
    background: url(../img/oncology/bevicra/page4/bg.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.bevicra-pg5 {
    background: url(../img/oncology/bevicra/page5/bg.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.bevicra-pg6 {
    background: url(../img/oncology/bevicra/page6/bg.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.bevicra-pg7 {
    background: url(../img/oncology/bevicra/page7/bg.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.epithra-pg1{
    background: url(../img/oncology/epithra/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.evermil-pg1{
    background: url(../img/oncology/evermil/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.evermil-pg2{
    background: url(../img/oncology/evermil/page2/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.aprecap-pg1{
    background: url(../img/oncology/aprecap/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.aprecap-pg2{
    background: url(../img/oncology/aprecap/page2/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.aprecapiv-pg1{
    background: url(../img/oncology/aprecapiv/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.aprecapiv-pg2{
    background: url(../img/oncology/aprecapiv/page2/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.palnox-pg1{
    background: url(../img/oncology/palnox/page1/bg.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.palnox-pg2{
    background: url(../img/oncology/palnox/page2/bg.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.geftib-pg1{
    background: url(../img/oncology/geftib/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.pexotra-pg1{
    background: url(../img/oncology/pexotra/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.glenstimpeg-pg1{
    background: url(../img/oncology/glenstimpeg/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.glenstimpeg-pg2{
    background: url(../img/oncology/glenstimpeg/page2/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.glenstimpeg-pg3{
    background: url(../img/oncology/glenstimpeg/page3/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.erleva-pg1{
    background: url(../img/oncology/erleva/page1//bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.sutib-pg1{
    background: url(../img/oncology/sutib/page1/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.sutib-pg2{
    background: url(../img/oncology/sutib/page2/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.sutib-pg3{
    background: url(../img/oncology/sutib/page3/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.sutib-pg4{
    background: url(../img/oncology/sutib/page4/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.sutib-pg5{
    background: url(../img/oncology/sutib/page5/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}.sutib-pg6{
    background: url(../img/oncology/sutib/page6/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}.sutib-pg7{
    background: url(../img/oncology/sutib/page7/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}.sutib-pg8{
    background: url(../img/oncology/sutib/page8/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}.sutib-pg9{
    background: url(../img/oncology/sutib/page9/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}.sutib-pg10{
    background: url(../img/oncology/sutib/page10/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}.sutib-pg11{
    background: url(../img/oncology/sutib/page11/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}.sutib-pg12{
    background: url(../img/oncology/sutib/page12/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}.sutib-pg13{
    background: url(../img/oncology/sutib/page13/bg.png) no-repeat;
    background-size: cover;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.darbilen-bg1{
    width: 1024px;
    height: 768px;
    background: url(../img/darbilen/bg1.png);
    background-size: cover;
    overflow: hidden !important; 
}
.darbilen-bg2{
    width: 1024px;
    height: 768px;
    background: url(../img/darbilen/bg2.png);
    background-size: cover;
    overflow: hidden !important; 
}
.darbilen-bg3{
    width: 1024px;
    height: 768px;
    background: url(../img/darbilen/bg3.png);
    background-size: cover;
    overflow: hidden !important; 
}
.darbilen-bg4{
    width: 1024px;
    height: 768px;
    background: url(../img/darbilen/bg4.png);
    background-size: cover;
    overflow: hidden !important; 
}
.darbilen-bg5{
    width: 1024px;
    height: 768px;
    background: url(../img/darbilen/bg5.png);
    background-size: cover;
    overflow: hidden !important; 
}
.mistaurin-bg1{
    width: 1024px;
    height: 768px;
    background: url(../img/mistaurin/page1/bg.png);
    background-size: cover;
    overflow: hidden !important;
}

.mistaurin-bg2{
    width: 1024px;
    height: 768px;
    background: url(../img/mistaurin/page2/bg.png);
    background-size: cover;
    overflow: hidden !important;
}
.mistaurin-bg3{
    width: 1024px;
    height: 768px;
    background: url(../img/mistaurin/page3/bg.png);
    background-size: cover;
    overflow: hidden !important;
}
.mistaurin-bg4{
    width: 1024px;
    height: 768px;
    background: url(../img/mistaurin/page4/bg.png);
    background-size: cover;
    overflow: hidden !important;
}

.axzyb-pg1 {
    background: url(../img/oncology/axzyb/page1/bg.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.axzyb-pg2 {
    background: url(../img/oncology/axzyb/page2/bg.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.axzyb-pg3 {
    background: url(../img/oncology/axzyb/page3/bg.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.axzyb-pg4 {
    background: url(../img/oncology/axzyb/page4/bg.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.axzyb-pg5{
    background: url(../img/oncology/axzyb/page5/bg.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.pazib-pg1{
    width: 1024px;
    height: 768px;
    
    background: url(../img/oncology/pazib/page1/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
}
.pazib-pg2{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page2/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
}
.pazib-pg3{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page3/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
}
 .pazib-pg4{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page4/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
   
}
.pazib-pg5{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page5/bg1.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
   
}
.pazib-pg6{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page6/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}
.pazib-pg7{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page7/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}
.pazib-pg8{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page8/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}
.pazib-pg9{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page9/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}
.pazib-pg10{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page10/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}
.pazib-pg11{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page11/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}

.pazib-pg12{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page12/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}

.pazib-pg13{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page13/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}
.pazib-pg14{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page14/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}
.pazib-pg15{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page15/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}

.pazib-pg16{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page16/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}

.pazib-pg17{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page17/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}
.pazib-pg18{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page18/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}
.pazib-pg19{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page19/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}
.pazib-pg20{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page20/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}

.pazib-pg21{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page21/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}
.pazib-pg22{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page22/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}
.pazib-pg23{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page23/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}
.pazib-pg24{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page24/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}
.pazib-pg25{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page25/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}

.pazib-pg26{
    width: 1024px;
    height: 768px;
    background: url(../img/oncology/pazib/page26/bg.png);
    background-size: cover;
    overflow: hidden !important;  
    position: relative;
  
}
.abpi-pg1 {
    background: url(../img/oncology/abpi/1.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.abpi-pg2 {
    background: url(../img/oncology/abpi/2.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.abpi-pg3 {
    background: url(../img/oncology/abpi/3.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.abpi-pg4 {
    background: url(../img/oncology/abpi/4.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.abpi-pg5 {
    background: url(../img/oncology/abpi/5.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.abpi-pg6 {
    background: url(../img/oncology/abpi/6.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.abpi-pg7 {
    background: url(../img/oncology/abpi/7.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.abpi-pg8 {
    background: url(../img/oncology/abpi/8.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.abpi-pg9 {
    background: url(../img/oncology/abpi/9.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.abpi-pg10 {
    background: url(../img/oncology/abpi/10.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.abpi-pg11 {
    background: url(../img/oncology/abpi/11.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.abpi-pg12 {
    background: url(../img/oncology/abpi/12.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}
.abpi-pg13 {
    background: url(../img/oncology/abpi/13.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}

.abpi-pg14{
    background: url(../img/oncology/abpi/14.png) no-repeat;
    background-size: 100% 100%;
    height: 768px;
    width: 1024px;
    overflow: hidden !important;
}