@charset "utf-8";
/* CSS Document */
.bg-img{ 
  background: url(image/update-bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.padblock{padding:3px}

.mstygreen{background-color:#4caf50; color:#FFFFFF; border-radius:4px; text-align:center; box-shadow:0 14px 26px -12px rgba(153,153,153,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(153,153,153,.2); font-size: 18px;
    padding: 4px;}

.mstyred{background-color:#e91e63; color:#FFFFFF; border-radius:4px; text-align:center; box-shadow:0 14px 26px -12px rgba(153,153,153,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(153,153,153,.2); font-size: 18px;
    padding: 4px;}

.mstygrey{background-color:#999; color:#FFFFFF; border-radius:4px; text-align:center; box-shadow:0 14px 26px -12px rgba(153,153,153,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(153,153,153,.2); font-size: 18px;
    padding: 4px;}
	
.tabh1{background-color:#444444; border-radius:6px; min-height:45px; color:#FFFFFF; padding:15px; border-bottom-left-radius:0px; border-bottom-right-radius:0px; font-size:18px}

.flotbtn{position: fixed !important; right: 0; z-index: 1030; bottom: 0px;  margin: 10px !important;}

::-webkit-scrollbar {
      display:block !important; width:6px}
	  
::-webkit-scrollbar-track {
      background-color: #055382; border-radius:12px; width:4px
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); border-radius:12px; width:4px
} /* this will style the thumb, ignoring the track */



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size:20px !important;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size:20px !important;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size:20px !important;
}
:-moz-placeholder { /* Firefox 18- */
  font-size:20px !important;
}